@font-face
{
	font-family: 'hachicro';
	src: url("fonts/hachicro.ttf");
}
.test
{
	font-family: 'hachicro';
}
#game
{
	width: 100%;
	height: 100%;
	border-width: 0;
	position: absolute;
	top:0;
	left: 0;
}
